<h1>Editing Book</h1>


<%= form_with model: @book, local:true do |f| %>
<%= render 'form', book: @book %>
<div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit "Update Book" %>
  </div>
<% end %>

<%= link_to 'Show', book_path(@book.id) %>
<%= link_to 'Back', books_path %>
